[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "daltoolbox"]
	path = daltoolbox
	url = https://github.com/cefet-rj-dal/daltoolbox
[submodule "daltoolboxdp"]
	path = daltoolboxdp
	url = https://github.com/cefet-rj-dal/daltoolboxdp
[submodule "harbinger"]
	path = harbinger
	url = https://github.com/cefet-rj-dal/harbinger
[submodule "heimdall"]
	path = heimdall
	url = https://github.com/cefet-rj-dal/heimdall
