[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "daltoolbox"]
	path = daltoolbox
	url = https://github.com/cefet-rj-dal/daltoolbox
[submodule "harbinger"]
	path = harbinger
	url = https://github.com/cefet-rj-dal/harbinger
